.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 12px;
}

.formRow label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.formRow a {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}
